PORT=5000
MONGO_URI=mongodb+srv://mukhiyagurjar83_db_user:xF4hqoM1b8OKFpB6@quickride-cluster.h2fb5q4.mongodb.net/quickride?retryWrites=true&w=majority&appName=quickride-cluster
JWT_SECRET=quickride_super_secret_key_12345
CLIENT_URL=http://localhost:5173